body{
    margin: 0px;
    font-family: Roboto;
    background: #e6e6e6;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background: #0C9;
    color: #FFF;
    border-bottom: #000 solid 4px;
}

a{
    color: #FFF;
    text-decoration: none;
}

.title{
    margin-left: 40px;
}

.right-gap{
    margin-left: auto;
}

.right-margin-svg{
    margin-right: 40px;
}

img{
    width: 100%;
}

.lemon-image{
    width: 600px;
}

.price-zone{
    display: flex;
    align-items: center;
    gap: 30px;
}

.price{
    color: red;
    font-size: 50px;
}

.caliber{
    margin-top: 0px;
}

.base-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
}

.fit-content{
    width: fit-content;
}

.white-div{
    background: #FFF;
    width: 300px;
    padding: 10px;
}

.bold{
    font-weight: bold;
    
}

.link-info{
    color: #000;
}

.panier-number{
    border: none;
    text-align: center;
    font-size: 20px
}

form{
    font-size: 20px
}

.number-style{
    border: #c9c9c9 1px solid;
    padding: 8px;
}

.form-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.submit-btn{
    background: rgb(50, 132, 255);
    border: none;
    color: #FFF;
    padding: 10px;
}